<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Восстановление пароля</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="content">
      <div class="content_header">
        <div>Восстановление пароля на Geant4ru</div>
        <div>
          Мы получили запрос на восстановление пароля для вашей учетной записи. Чтобы установить новый пароль, перейдите по следующей ссылке:
        </div>
      </div>
      <a class="content_button" href="{{ result_link }}">
        Сбросить пароль
      </a>
      <p>Если вы не запрашивали восстановление пароля, просто проигнорируйте это письмо.</p>
      <p>С уважением, команда Geant4ru</p>
    </div>
  </div>
</body>

</html>